Source For Only Images Scan/Orchestrator.json
{
  "name": "Orchestrator",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $('Extract Main Domains').item.json.domain + 'sitemap.xml' }}",
        "allowUnauthorizedCerts": true,
        "responseFormat": "string",
        "options": {
          "fullResponse": false,
          "followAllRedirects": true,
          "followRedirect": false
        }
      },
      "id": "c4277592-445c-4b31-984f-a0f8c016f482",
      "name": "Get Sitemap XML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1700,
        360
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    domain: item.json['Domain '],\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2180,
        380
      ],
      "id": "25652260-ebf5-43af-8ec1-220514dd668a",
      "name": "Extract Main Domains"
    },
    {
      "parameters": {
        "url": "={{ $json.subpage }}",
        "allowUnauthorizedCerts": true,
        "responseFormat": "string",
        "options": {
          "fullResponse": false
        }
      },
      "id": "614dcc2b-aab6-4b21-9a6b-ba259a48b5ee",
      "name": "Get SubSitemap XML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1320,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of items) {\n  const xml = item.json.body || item.json.data || '';\n  \n  if (typeof xml !== 'string') {\n    continue; // hoặc throw nếu bạn muốn dừng hẳn\n  }\n\n  const urls = [...xml.matchAll(/<loc>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/loc>/g)].map(match => match[1]);\n\n  for (const url of urls) {\n    results.push({\n      json: {\n        subpage: url,\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1500,
        240
      ],
      "id": "5f8fcaad-ba24-4475-a8ef-b640c275130b",
      "name": "Extract to SubSitemap"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$json.domain}}",
        "allowUnauthorizedCerts": true,
        "responseFormat": "string",
        "options": {
          "fullResponse": false,
          "followAllRedirects": true,
          "followRedirect": false,
          "ignoreResponseCode": false,
          "useQueryString": false
        }
      },
      "name": "Fetch Main Domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1940,
        380
      ],
      "id": "16f85e5d-e176-41bf-b8cb-9a71d6765e5e",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Domain: {{ $json.domain }}\nStatus: {{ $json.error.status }}\nLog: {{ $json.error.code }}\n////////////////////////////////",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1720,
        520
      ],
      "id": "fe6384aa-39cb-4d53-9a1c-af0c4bbc3fc0",
      "name": "Log Status SubDomain",
      "webhookId": "2fa98cec-4155-42b7-98ff-f76b5dadba22",
      "credentials": {
        "discordWebhookApi": {
          "id": "ijERmmgaOVpveUgv",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1gTueOAEUnMkDds2fAxPGd09oPmKyQx53yRR5gEndwkE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1gTueOAEUnMkDds2fAxPGd09oPmKyQx53yRR5gEndwkE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2380,
        380
      ],
      "id": "d4d91fb3-cff9-40fb-954f-d0371c268a1d",
      "name": "List Domains1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "999rVWVTeL3MAbrk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of items) {\n  const xml = item.json.body || item.json.data || '';\n\n  if (typeof xml !== 'string') {\n    throw new Error('Sitemap XML is not a valid string');\n  }\n\n  const matches = [...xml.matchAll(/<loc>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/loc>/g)];\n  const urls = matches.map(match => match[1]);\n\n  for (const domain of urls) {\n    results.push({ json: { domain } });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1140,
        240
      ],
      "id": "80609465-b275-4093-b923-c251cd2a27eb",
      "name": "All URL"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -980,
        240
      ],
      "id": "e6045e82-296d-4ed2-a370-c24f8585688f",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, index) => {\n  item.json._index = index;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -760,
        240
      ],
      "id": "44b8d328-1c3a-4aba-bea1-77b2c40a06fa",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hcJQMqGvYvnoI9DD",
          "mode": "list",
          "cachedResultName": "Scan From 0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -100,
        0
      ],
      "id": "abf75e5f-c01f-4453-8b6d-f26561b5d9c3",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 3
            }
          ]
        }
      },
      "name": "Cron1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -2600,
        380
      ],
      "id": "c280a3c7-e6c8-4fbc-956d-a75a92e0cace"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "STkC6CK7ecSuCBg3",
          "mode": "list",
          "cachedResultName": "Scan From 1000"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -100,
        140
      ],
      "id": "6724647a-80eb-498b-9613-9fb7f7ef3ef0",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Cp8f1sD0jCq0eCUH",
          "mode": "list",
          "cachedResultName": "Scan from 2000"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -100,
        280
      ],
      "id": "ed6a011c-d971-4673-8c57-0d19e18f7fca",
      "name": "Execute Workflow2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PINLwX6Bv4Uz5Zut",
          "mode": "list",
          "cachedResultName": "Scna from 3000"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -100,
        460
      ],
      "id": "7ee781c6-6dbf-4375-81a6-64a3d756b79a",
      "name": "Execute Workflow3"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Domain: {{ $('Extract Main Domains').item.json.domain }}/sitemap.xml\nError Code: {{ $json.error.code }}\nError Status: {{ $json.error.status }}\n!!! Please check sitemap of your domain\n/////////////////////////////////////",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1340,
        520
      ],
      "id": "3f27f985-b3a1-49f9-b16f-5ac09e0b27b9",
      "name": "Log Status",
      "webhookId": "2fa98cec-4155-42b7-98ff-f76b5dadba22",
      "credentials": {
        "discordWebhookApi": {
          "id": "ijERmmgaOVpveUgv",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f4f300dc-001b-46ed-95fc-6ba4280020f3",
              "leftValue": "={{ $json._index }}",
              "rightValue": 3000,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -340,
        480
      ],
      "id": "0e2ab312-b5ec-434d-b4bd-3967a4819a5b",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f4f300dc-001b-46ed-95fc-6ba4280020f3",
              "leftValue": "={{ $json._index }}",
              "rightValue": 2000,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "bbd5729a-3cad-4338-bef0-8991f1c2fb73",
              "leftValue": "={{ $json._index }}",
              "rightValue": 2999,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -340,
        300
      ],
      "id": "e32a2c43-c8d0-403e-ae51-58fafa723844",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f4f300dc-001b-46ed-95fc-6ba4280020f3",
              "leftValue": "={{ $json._index }}",
              "rightValue": 1000,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "6dd6e433-7f83-49b9-b6e3-167d39bb9102",
              "leftValue": "={{ $json._index }}",
              "rightValue": 1999,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -340,
        160
      ],
      "id": "fcc38df7-fc08-446c-aed5-a42c8ba36c15",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f4f300dc-001b-46ed-95fc-6ba4280020f3",
              "leftValue": "={{ $json._index }}",
              "rightValue": 999,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -340,
        20
      ],
      "id": "9ced3fba-faf3-4b29-8fed-1a954fe7e637",
      "name": "If"
    },
    {
      "parameters": {
        "batchSize": 1000,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -560,
        240
      ],
      "id": "3e2ccfb6-2b17-4699-a640-62cd01b9aa7a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        400,
        460
      ],
      "id": "cb5d76c8-a2f4-4abb-b9c2-5b23ab2e302a"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Sitemap XML": {
      "main": [
        [
          {
            "node": "Extract to SubSitemap",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Main Domains": {
      "main": [
        [
          {
            "node": "Fetch Main Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SubSitemap XML": {
      "main": [
        [
          {
            "node": "All URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract to SubSitemap": {
      "main": [
        [
          {
            "node": "Get SubSitemap XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Main Domain": {
      "main": [
        [
          {
            "node": "Get Sitemap XML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Status SubDomain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Domains1": {
      "main": [
        [
          {
            "node": "Extract Main Domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All URL": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron1": {
      "main": [
        [
          {
            "node": "List Domains1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Execute Workflow3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow2": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow3": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a42e277d-40f8-4588-9fbc-a0b16ec9e72a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "da33118653b457a38767846f003a1ddd3b6e88f9568f32164fe696d219064bab"
  },
  "id": "ySNnYcUFePzs1yWC",
  "tags": []
}